name: CI

on:
  push:
    branches:
      - main

jobs:
  build:
    name: 'Build and Push'
    # Alterado de ubuntu-latest para self-hosted
    runs-on: self-hoste
    strategy:
      matrix:
        node: [16, 18, 20]

    steps:
      - uses: actions/checkout@v4

      - name: Setup node | ${{ matrix.node }}
        uses: actions/setup-node@v4
        with:
          node-version: ${{ matrix.node }}
          cache: 'npm'
      - run: npm install
      - run: npm run test
